@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: 'Open Sans';
     line-height: 1.5;
     background-color: #ffffff;
     margin: 0;
     padding: 0;
}

a {
    text-decoration: none !important;
    color: black;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    right: 0;
    left: 0;
    max-width: 80%;
    padding: 0 15px;
    margin: 0 auto;
    /* border: 1px solid red; */
    flex-wrap: wrap;
}

.padding-section-5 {
    padding: 5px;
}


/*           Header              */


.first-nav, .second-nav, .third-nav {
    display: flex;
    text-transform: uppercase;
}

.call {
    text-transform: initial;
    border-bottom: .1rem solid #90ABB1;
}

.first-nav{
    justify-content: space-between;
    height: 3.9375rem;
    align-items: center;
    width: 100%;
}

.back-img {
    background-color: #F2F2F2;
}

.second-nav{
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    width: 100%;
}

.logo {
    width: 12rem;
}

.icon-menu {
    width: 20%;
}

.third-nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    height: 3.875rem;
}

.navbar-h4 {
    font-size: 11px;
    color: #184954;
}

.nav-link > ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;   
}

.nav-link > ul > li {
      margin: 20px;
}

.img-navbar > img {
    margin-left: 42px;
}

.nav-search {
    border-bottom: 1px solid;
}

.nav-search > input {
    width: 44.823906083244395vh;
    height: 4.00213447171825vh;
    border: none;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: right;
}

input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.nav-search ::-webkit-input-placeholder {
    color:black;
    font-weight: 500;
}

.navbar-call{
    font: 16px 'Open Sans';
}

.bold-text-call{
    font-weight: 600;
}

li {
    display: block;
    padding: 0.4rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.dropdown > a{
    color: white !important;
}

ul li ul {
    background: #4CC8E5;
    visibility: hidden;
    opacity: 0;
    min-width: 36vh;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1.4rem;
    left: 0;
    display: none;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
ul li ul li {
    clear: both;
    width: 100%;
}


/*           1 Section              */

.home-img {
    height: 45rem;
    width: 100%;
    background: url(../img/section1.png);
    background-size: cover;
}

.section1 {
    text-align: center;
    color: black;
    margin-right: 650px;
    padding-top: 200px;
}

.section2 > h1 {
    font-size: 62px;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.section2 > p {
    font-size: 25px;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
    margin-bottom: -60px;
}

.section2 > img {
    width: 100%;
}

/*           2 Section              */

.section4 > h2 {
    letter-spacing: 6px;
    text-transform: uppercase;
    color: black;
    margin-top: 113px;
    margin-bottom: 113px;
    font-size: 40px;
}

.flex-cart {
    display: flex;
    flex-wrap: wrap;
}

.img-full-width {
    width: 100%;
}

.img-cart {
    width: 358px;
    height: 375px;
}

.cart {
    border: 1px solid #D8D8D8;
    width: 358px;
    height: auto;
    margin: 0 10px 20px;
}

.text-center-cart {
    text-align: center;
    padding: 0 0 15px 0;
}

.span-cart-head {
    color: #A2A3A4;
    font-size: 15px;
}

.span-cart {
    font-size: 16px;
    color: #184954;
    font-weight: 700;
    letter-spacing: 1.4px;
}

/*           3 Section              */

.women-accessories {
    margin-top: 300px;
}

.see-alt {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    flex-wrap: wrap;
}

details {
    margin-left: 0px;
}
    
details summary span {
    margin-left: -20px;
    padding-left:20px;
}

details[open] summary span {
    margin-left: -20px;
    padding-left:20px;
}

.more-read {
    cursor: pointer;
}

.read-more {
    border-bottom: 1px solid #707070;
}

.main-text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.women-shop {
    width: 50%;
}

.women-shop2 {
    width: 50%;
}

.women-shop > img {
    width: 90%;
}

/*           4 Section              */

.section-4-main {
    margin-top: 250px;
    font-size: 18px;
    font-weight: 600;
    height: 18.35rem;
    background: url(../img/contur.png);
    background-size: cover;
}

.flex-section-4 {
    height: 18.35rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-section {
    flex-wrap: wrap;
}

.mannequin-img {
    width: 17px;
}

.flex-section-img > img{
    width: 35px;
}

.margin-50 > span {
    margin-left: 35px;
}

/*           5 Section              */

.flex-img {
    display: flex;
    justify-content: space-between;
}

.cart-flex {
    display: flex;
    padding: 15px 15px 15px 0;
}

.date-color {
    color: #AAAAAA;
}

.h3-color {
    color: #184954;
}

.author-name {
    margin-top: 20px;
    color: #878787;
}

.trim {
    display: flex;
    border: 1px solid #D9D9D9;
    height: auto;
    width: auto;
    margin: 100px 20px 100px 0;
}

.train {
    display: flex;
}

.rrr {
    width: 346px;
}

.margin-section-4 {
    margin-top: 10px;
}

.img-rrr > img {
    padding: 15px;
}



/*           Footer              */

.first-footer-section {
    background: #F3F3F3;
}

.flex-nav {
    display: flex;
    padding: 100px 0 100px 0;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-10 > h1 {
    padding-bottom: 10px;
    margin-left: 45px;
    font-size: 16px;
    text-transform: uppercase;
}

.margin-200 {
    margin-top: 30px;
}

.footer-img {
    padding: 50px;
    text-align: center;
}

/*           Footer 2 Section              */

.second-footer {
    height: auto;
    background-color: #C8C9D6;
}

.flexbox-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-wrap: wrap;
}

.bir-section {
}

.margin-text {
    margin-left: 40px;
}

.img-jc > img {
    margin: 15px;
}

.space-let {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.margin-footer-left {
    margin-left: 40px;
}


/*          Delivery            */

.delivery-h1 {
    margin-top: 70px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 50px;
}

.delivery-p {
    font-size: 18px;
    letter-spacing: 1px;
}

.back-img-delivery {
    background: url(../img/contur.png);
    height: 18.35rem;
    margin: 150px 0 150px 0;
}

.container-height {
    height: 100%;
    /* border: 1px solid black; */
    align-items: center;
}

.delivery-flex {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.flex-div-item {
    display: flex;
}

.flex-div-item > img {
    width: 46px;
    height: 48px;
}

.flex-div-item > p {
    margin-left: 50px;
    margin-top: -1px;
}

.flex-delivery-img {
    display: flex;
    margin: 0 0 30px 0;
}

.flex-delivery-img > img {
    width: 30px;
    height: 30px;
}

.flex-delivery-img > p {
    display: flex;
    margin-left: 50px;
    margin-top: 0;
}

.margin-150 {
    margin-bottom: 150px;
}

/*            Sales           */

.img-sales {
    width: 100%;
}

.sales-img {
    width: 100%;
}

.img-margin-2 {
    margin: 100px 0 150px 0;
}

/*              Contacts             */

.flex-contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    flex-wrap: wrap;
}

.flex-contacts > p {
    color: #184954;
}

.contacts-p {
    margin-top: 0;
}

.contacts-p > p {
    margin-top: 0;
    margin-bottom: 0;
}

.map {
    width: 100%;
    text-align: center;
}

.flex-contacts-us {
    display: flex;
}

.contacts-img > img {
    margin-right: 20px;
}

.img-margin {
    margin-top: 10px;
}

.border-bottom-class {
    border-bottom: 1px solid #90ABB1;
}

/*               About us              */

.about-us-img {
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.btn-right-left > img{
    width: 2.5rem;
}

.about-us-h1 {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

.about-us-p {
    font-size: 16px;
    text-align: center;
}

.about-us-img {
    text-align: center;
}

.partners {
    display: flex;
    justify-content: space-between;
}

.about-h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
}

.partners-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.about-us-back {
    background-color: #F8F8F8;
}

.reverse-h2 {
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 150px;
}

.input-about-us > input {
    width: 430px;
    border: 1px solid #E8E8E8;
    font-family: 'Open Sans';
    height: 50px;
    border-radius: 2px;
    margin: 0 20px 25px 0;
}

.input-about-us ::placeholder {
    color: #8A8A8A;
    font-size: 16px;
    padding: 5px;
}

.btn-about-us > a{
    text-align: center;
    padding: 10px;
    background-color: #4CC8E5;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.btn-about-us{
    margin-top: 40px;
    padding-bottom: 150px;
}

.input-about-us > .comment {
    width: 890px;
    height: 135px;
    border-color: #E8E8E8;
}

.about-us-size-18 {
    font-size: 18px;
}

/*           Thanks          */

.thanks {
    text-align: center;
    width: 400px;
}

.img-center-thanks {
    width: 100%;
    text-align: center;
    margin: 150px 0 0 0;
    padding-bottom: -100px;
}

.span-center-thanks {
    width: 100%;
    text-align: center;
    padding-bottom: -100px;
    font-size: 20px;
}

.continue-shop {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding-bottom: -100px;
    font-size: 20px;
    color: #4CC8E5;
    padding-bottom: 150px;
}

.continue-shop > a {
    color: #4CC8E5;
    border-bottom: 1px solid #4CC8E5;
}

.partners-margin {
    padding-top: 100px;
}